@use '../config/variables.scss' as v;

@mixin on-tablet() {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin on-desktop() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin content-padding-inline() {
  & {
    padding-inline: v.$padding-inline-mobile;
  }

  @include on-tablet {
    & {
      padding-inline: v.$padding-inline-tablet;
    }
  }

  @include on-desktop {
    & {
      margin-inline: auto;
      padding-inline: 0;
      max-width: 1136px;
    }
  }
}

@mixin page-grid() {
  & {
    --columns: 4;
    display: grid;
    column-gap: 16px;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-auto-rows: min-content;
  }

  @include on-tablet {
    & {
      --columns: 12;
    }
  }

  @include on-desktop {
    & {
      --columns: 24;
    }
  }
}

@mixin text-style-dropdown() {
  & {
    font-family: v.$font-family-base;
    font-weight: v.$uppercase-weight;
    font-size: v.$body-text-size;
    line-height: v.$body-line-height;
    letter-spacing: 0%;
  }
}

@mixin dropdown-size($size, $with-height: true) {
  @if $size == small {
    & {
      width: 136px;

      @if $with-height {
        height: 32px;
      }
    }

    @include on-tablet {
      & {
        @if $with-height {
          height: 40px;
        }
      }
    }

    @include on-desktop {
      & {
        width: 128px;
      }
    }
  } @else if $size == medium {
    & {
      width: 136px;

      @if $with-height {
        height: 32px;
      }
    }

    @include on-tablet {
      & {
        width: 176px;

        @if $with-height {
          height: 40px;
        }
      }
    }

    @include on-desktop {
      & {
        width: 187px;
      }
    }
  } @else if $size == large {
    & {
      width: 180px;

      @if $with-height {
        height: 40px;
      }
    }

    @include on-tablet {
      & {
        width: 220px;
      }
    }

    @include on-desktop {
      & {
        width: 240px;
      }
    }
  }
}
