:root {
  // === BORDER RADIUS ===
  --radius: 0.625rem;

  // === COLORS ===
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  // === CHARTS ===
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  // === SIDEBAR ===
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  // === HEX COLOR ===
  --color-black: #0f1121;
  --color-surface-1: #161827;
  --color-surface-2: #323542;
  --color-elements: #3b3e4a;
  --color-icons: #4a4d58;
  --color-secondary: #75767f;
  --color-white: #f1f2f9;
  --color-accent: #e8e9fb;
  --color-accent-alt: #905bff;
  --color-green: #27ae60;
  --color-red: #eb5757;

  // === TYPOGRAPHY ===
  --font-family-base: 'Mont', sans-serif;

  --h1-size: 48px;
  --h1-line-height: 56px;
  --h1-letter-spacing: -0.01em;
  --h1-weight: 700;

  --h2-size: 32px;
  --h2-line-height: 41px;
  --h2-letter-spacing: -0.01em;
  --h2-weight: 700;

  --h3-size: 22px;
  --h3-line-height: 31px;
  --h3-letter-spacing: 0;
  --h3-weight: 700;

  --h4-size: 20px;
  --h4-line-height: 26px;
  --h4-letter-spacing: 0;
  --h4-weight: 600;

  --uppercase-size: 12px;
  --uppercase-line-height: 11px;
  --uppercase-letter-spacing: 0.04em;
  --uppercase-weight: 700;

  --button-text-size: 14px;
  --button-line-height: 21px;
  --button-weight: 600;

  --body-text-size: 14px;
  --body-line-height: 21px;
  --body-weight: 400;

  --small-text-size: 12px;
  --small-line-height: 15px;
  --small-weight: 600;

  --h1-mobile: 32px;
  --h2-mobile: 22px;
  --h3-mobile: 20px;
  --h4-mobile: 16px;
}
