@use '../../../styles/config/variables' as *;

.image-slider {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 40px 0;
  cursor: pointer;

  .swiper-wrapper {
    width: 1136px;
    height: 432px;

    @media (max-width: 1199px) {
      width: 592px;
      height: 221px;
    }

    @media (max-width: 639px) {
      width: 320px;
      height: 352px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;

      @media (max-width: 639px) {
        object-position: 85%;
      }
    }
  }

  // Навигация стрелки
  .swiper-button-prev,
  .swiper-button-next {
    color: #f1f2f9;
    &:after {
      font-size: 20px;
      font-weight: bold;
    }

    @media (max-width: 639px) {
      display: none;
    }
  }

  // Пагинация
  .swiper-pagination-bullets {
    bottom: 8px !important;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 2px;
    border-radius: 0;
    background: white;
    opacity: 0.5;
    margin: 0px 4px !important;
    transition:
      background 0.3s,
      opacity 0.3s;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: $color-accent-alt-light;
  }
}
