@use '@/styles/mixin/mixin.scss' as m;

.shopCategories {
  @include m.page-grid;
  @include m.content-padding-inline;

  @media (min-width: 640px) {
    margin-bottom: 64px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 80px;
  }

  & {
    row-gap: 24px;
    margin-bottom: 56px;
  }
}
