@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontBold';
  src: url('/fonts/Mont-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MontSemiBold';
  src: url('/fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Mont', sans-serif;
}
@import 'tailwindcss';

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

html.dark,
html.dark body {
  background-color: whitesmoke !important;
  color: black !important;
}

html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark h6 {
  color: #323542 !important;
}

html.dark {
  background-color: #0f0f11 !important;
  color: black !important;
}

html.dark header,
html.dark footer {
  background-color: #0f0f11 !important;
  color: white !important;
}

html.dark #mobile-sidebar {
  background-color: whitesmoke;
}

html.dark #mobile_links {
  color: #0f0f11;
}

html.dark #header-link {
  color: white;
}

html.dark #header-link:hover {
  color: #323542;
}

html.dark #nav-item {
  color: lightgray;
}

html.dark #lang {
  color: white;
}

html.dark #lang:hover {
  color: #323542;
}

html.dark #user {
  color: white;
}

html.dark #user:hover {
  color: #323542 !important;
}

html.dark [id^='capacityButton-'] {
  color: black !important;
}

html.dark [id^='capacityButton-']:hover {
  background-color: lightgray;
}

html.dark #nav-item:hover {
  color: white;
}

html.dark #nav-item:active {
  color: white;
}

html.dark #cards {
  background-color: white !important;
}

html.dark #phonesPageTitle,
html.dark #tabletsPageTitle,
html.dark #accessoriesPageTitle,
html.dark #favPageTitle {
  color: black;
}

html.dark #itemPageContent {
  background-color: whitesmoke;
}

html.dark #itemPageContent span {
  color: #0f0f11;
}

html.dark #cart-item {
  background-color: #ebeced;
}

html.dark #cart-item-button {
  background-color: #323542;
}

html.dark .capacity-color {
  color: #0f0f11 !important;
  border: none !important;
  background-color: whitesmoke !important;
}

html.dark .capacity-color-active {
  color: #0f0f11 !important;
  border: 1px solid #323542 !important;
  background-color: #ebeced !important;
}

html.dark .capacity-color:hover {
  background-color: #ebeced !important;
}

html.dark .capacity-color-active:hover {
  background-color: #ebeced !important;
}

html.dark #itemPageCapacity {
  color: black;
}

html.dark #button-cart-item button {
  background-color: #505659;
}

html.dark #button-cart-details {
  background-color: #505659;
}

#pagination-active {
  background-color: #9747ff !important;
}

html.dark #pagination-active {
  background-color: #505659 !important;
}

.skeleton {
  background: linear-gradient(
    90deg,
    #181a29 25%,
    #2a2c3b 50%,
    #4a4c5b 75%,
    #2a2c3b 100%
  );
  background-size: 200% 100%;
}

html.dark .skeleton {
  background: linear-gradient(
    90deg,
    #d0d2dc 25%,
    #e0e2ec 50%,
    #f5f6fa 75%,
    #e0e2ec 100%
  );
  background-size: 200% 100%;
  border: none !important;
}

html.dark #breadcrumb-nav {
  color: black;
  background-color: whitesmoke;
}
html.dark #breadcrumb-home-link,
html.dark [id^='breadcrumb-link-'] {
  color: #525659;
}
html.dark #breadcrumb-home-link:hover,
html.dark [id^='breadcrumb-link-']:hover {
  color: #0f0f11;
}
html.dark [id^='breadcrumb-current-'],
html.dark [id^='breadcrumb-separator-'],
html.dark #breadcrumb-home-separator {
  color: #0f0f11;
}

html.dark #contact-page {
  background-color: whitesmoke;
}

html.dark #contact-page-user {
  background-color: lightgray;
}

html.dark #rights-page {
  background-color: whitesmoke;
}

html.dark #righs-page-text {
  color: black;
}
